.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  padding: 20px;
  /* justify-content: flex-start; */
}

.post__badge {
  font-size: 18px !important;
  color: var(--twitter-color);
  padding: 0 5px;
  margin-top: -17px;
}

.post__headerSpecial {
  font-weight: 400;
  font-size: 16px;
  color: grey;
  margin-top: -17px;
}

.post__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-right: 30px;
}

.post__footer > :first-child:hover,
.post__footer > :last-child:hover {
  color: var(--twitter-color);
  cursor: pointer;
  /* background-color: #e1eef6;
  border-radius: 50%; */
}

.post__footer > :nth-child(2):hover {
  color: #00ba7c;
  cursor: pointer;
}

.post__footer > :nth-child(3):hover {
  color: #f91880;
  cursor: pointer;
}

.post__footer > :nth-child(3):hover {
  color: #f91880;
  cursor: pointer;
}

.post__headerText {
  display: flex;
  align-items: center;
}

.post__headerDescription > p {
  margin-top: -10px;
}

.post__headerText > h3 {
  font-size: 17px;
  margin-top: 0;
}

.post__body {
  flex: 1;
  padding: 10px;
  padding-top: 0;
  max-width: 500px;
  /* margin-right: 20px; */
}

.post__body > img {
  border-radius: 20px;
}

.post__image {
  width: 100%;
}
